.sort {
   &__content {
      gap: toRem(8);

      padding: toRem(5);
      margin: toRem(-5);

      span {
         color: rgb(254, 95, 30);
      }
   }
   &__icon {
      width: toRem(10);
      height: toRem(6);

      transition: rotate 0.3s;
   }
   &__text {
      letter-spacing: toRem(0.5);
   }

   &__list {
      background-color: $white;

      min-width: toRem(140);

      box-shadow: 0px toRem(5) toRem(15) 0px rgba(0, 0, 0, 0.09);

      padding: toRem(12) 0;

      position: absolute;
      top: 200%;
      right: toRem(0);

      visibility: hidden;
      filter: opacity(0);

      transition: visibility 0.3s, filter 0.3s, top 0.3s;
   }

   &__btn {
      width: 100%;
      min-height: toRem(38);

      padding: toRem(5) toRem(14);

      text-align: left;

      transition: background-color 0.3s, color 0.3s;
      @media (any-hover: hover) {
         &:hover {
            background-color: rgba(254, 95, 30, 0.05);
            color: rgb(254, 95, 30);
         }
      }
      &.active {
         background-color: rgba(254, 95, 30, 0.05);
         color: rgb(254, 95, 30);
      }
   }

   &.active {
      .sort__icon {
         rotate: 180deg;
      }
      .sort__list {
         visibility: visible;
         filter: opacity(1);
         top: 120%;
      }
   }
}
